* {
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  background-color: #05182b; 
  padding: 10px 20px; 
  display: flex;
  justify-content: flex-end; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}

.logout {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #dc3545; 
  color: white; 
  border-radius: 5px; 
  font-weight: bold; 
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* Content */


.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  align-items: center;
  justify-content: center; 

}

th {
  background-color: #f4f4f4;
}

.buttonAdmin {
  padding: 0.8rem 1.2rem;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonAdminDelete {
  padding: 0.8rem 1.2rem;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonAdmin:hover {
  background-color: #0056b3;
}



.createSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createSection span {
  font-size: 18px;
  color: #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* CREATE PROPERTY MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  z-index: 1001;
}

.closeButton {
  float: right;
  margin-top: -0.8rem;
  margin-right: -0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  background-color: rgb(250, 250, 250);
  border-radius: 100%;
  border: solid 0.1rem black;
}

.labelCreateRentName, .labelCreateRent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-size: 1.2rem; 
}

.labelCreateRentName {
  margin-top: 2rem;
}

.labelCreateRent input, .labelCreateRentName input {
  margin-top: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labelCreateRent input[readonly], .labelCreateRentName input[readonly] {
  background-color: #f3f3f3;
}

.labelCreateRent input[type="text"], .labelCreateRentName input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labelCreateRent input[type="file"] {
  display: none;
}

.btn-file {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.file-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.buttonCreateRent {

  padding: 2rem;
  color: white;
  background-color: #0070f3;
  border-radius: 5px;
  border: none;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 0.5rem;
  display: block;
  font-size: 1.2rem; 
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* LOGIN */

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.headerLoginContainer {

  width: 100%;
}

.headerLogin{

  background-color: #e67e08e7;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  color: white;
  border-radius: 0.5rem;
}

.buttonBackToSite{
  
  margin-right: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  background: rgb(138, 138, 138);
  border: none; 
  color: white; 
  font-size: 1.2rem; 
  border-radius: 0.5rem;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(138, 138, 138);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-label {

  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.4rem;
}

.login-input {

  padding: 0.8rem;
  width: 20rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {

  width: 12rem;
  padding: 0.8rem;
  background-color: #e67e08e7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.4rem auto;
  display: block; 
}




